.flip-card {
    background-color: transparent;
    width: 125px;
    height: 115px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateX(360deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
}

.flip-card-front {
    background-image: linear-gradient( 180deg, rgba(44, 44, 68, 255) 50%, rgba(52, 54, 79, 255) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(345, 95%, 68%);
    font-size: 4rem;
    font-weight: 700;
    font-family: "Lato", sans-serif;
}

.flip-card-back {
    background-color: rgba(44, 44, 68, 255);
    color: white;
    transform: rotateY(180deg);
}